body {
  background-color: #bfa41d;
  text-align: center;
  font-family: "Times New Roman", Times, sans-serif;
  font-size: 20px;
}

h1 {
  text-align: center;
  background-color: #d90812;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: #0b8ba8
}

h2 {
  text-align: center;
  background-color: #c51ad1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: #921742
}

p {
  color: #7c1980;
  line-height: 1.5;
}

li {
  text-align: left;
  display: inline;
  width: 100%
}

nav {
  background-color: #2b974b;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  background-color: #588cd0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

footer {
  background-color: #d37a31;
}

header {
  background-color: #25a283;
}